.header {
  background-color: #4169e1;
  text-align: center;
  padding: 10px 0;
}
.title-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  text-shadow: 2px 3px 6px #f8f8fb;
}
