.container {
  border: 1px solid;
}
.header {
  background-color: #4169e1;
  text-align: center;
  padding: 10px 0;
}
h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-style: italic;
}

p {
  font-size: 20px;
  margin-bottom: 5px;
}
