.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1000;
}

.popup-inner {
  position: relative;
  top: 100px;
  padding: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

.popup-inner .close-btn {
  position: absolute;
  bottom: 50px;
  left: 100px;
}
