.search-bar-container {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.input-group {
  width: 25%;
}

.input-group-append {
  background-color: rgb(157, 179, 157);
}

.search-btn.search-btn {
  color: white;
  font-weight: bold;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding: 8px 12px;
}
