.table {
  margin-top: 9rem;
  margin-bottom: 5rem;
}

.table-head {
  margin-bottom: 15px;
}

.table-heading {
  color: #22223b;
  font-size: 1.4rem;
}

.chart-graph {
  width: 30%;
  height: 60%;
}

.city-name-cell {
  vertical-align: middle;
  font-size: 1.2rem;
}

.average-line-statement {
  text-align: center;
  font-style: italic;
}

.chart-row .td.chart-graph {
  padding: 20px;
}
