.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.main-container {
    width: 70vw;
    margin: auto;
}

.input-group {
    margin-top: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

td {
    vertical-align: middle;
}

tr p {
    margin: 0px;
}

.table-header {
    line-height: 5vh;
}

svg {
    height: 150px;
    width: 200px;
}
