.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-form {
  width: 1000px;
  margin-left: 100px;
}

.city-name {
  text-align: center;
}

.error-message {
  color: red;
  font-style: italic;
  font-size: 12px;
}

.start-message {
  padding-top: 30px;
}
