table,
th,
td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

body {
  background-color: lightslategray;
}

div {
  font-family: "Montserrat", sans-serif;
}

button {
  font-family: "Montserrat", sans-serif;
}
