body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#search-submit {
  display: inline-block;
  width: 10%;
}

#search {
  display: inline-block;
  width: 90%;
}

.forecast-container {
  text-align: center;
  margin: 30px 0;
  padding-top: 15px;
  padding-bottom: 5px;
  border: 1px solid rgba(216, 208, 208, 0.5);
}

.forecast-container:hover {
  border: 2px solid rgba(219, 24, 24, 0.466);
  border-radius: 4px;
}

.city-label {
  margin: 35% 0;
}
