td{
  vertical-align:bottom;
  text-align:center;
  height: 200px;
  width: 150px;
}

th{
  vertical-align: middle;
  width: 50px;
}

input {
  margin-right: 20px !important;
}

h5 {
  margin-top: 20px !important;
}