body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  background-color: white;
}

th {
  width: 27%;
  text-align: center;
}

#city-th {
  width: 19%;
}
